@font-face {
    font-family: 'Roboto';
    src: url("../src/assets/fonts/roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url("../src/assets/fonts/roboto/Roboto-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'BERNIERRegular';
    src: url("../src/assets/fonts/bernier/BERNIERRegular-Regular.otf") format('opentype');
    font-weight: 400;
    font-style: normal;
}
